.navbar{
  background: brown;
}

.navbar-content{
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 0 10em;
  color: white;
}
.row{
  display: grid;
  grid-template-columns: 10% 1fr 5%;
  column-gap: 1em;
  align-items: center;
}
.row h3{
  text-transform: capitalize;
}
.container{
  width: 850px;
  margin: auto;
}
.container h2{
  margin: 3em auto;
  text-align: center;
}
.cart-container{
  padding-bottom: 3em;
  border-bottom: brown solid ;
}
img{
  width: 100%;
}

button{
  cursor: pointer;
}
.btn-container{
  display: grid;
  justify-content: center;
  text-align: center;
}
.btn{
  background: none;
  border: none;
  color: brown;
  font-size: 1.5em;
}

.btn-remove{
  background: none;
  border:none;
  color: brown;
}
.row-total{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.cart{
  position: relative;
}
.number{
  height: 25px;
  width: 25px;
  border-radius: 50%;
  background: white;
  color: brown;
  position: absolute;
  text-align: center;
  top: -10px
}